
<div class="card card--icon">
    <div class="card-body">
        <img width="{{ item.img.width }}" height="{{ item.img.height }}" src="{{ item.img.url }}" alt="{{ item.img.alt }}">
        <h3>{{ item.title }}</h3>
        <p>{{ item.content }}</p>
    </div>
</div>



