{% extends "base.twig" %}


{% block heading %}

<section class="heading_produits hidden-animate">
	{% set img = p.meta('img') %}
	{% set is_fs = true %}
	{% include "blocks/image.twig" %}
	<span class="heading_produits-bgTitle">{{ p.title }}</span>
	
	<div class="wrapper">
		<h1>{{ p.title }}</h1>
		<p class="heading_produits-content">{{ p.short_ctn }}</p>
	</div>
	
</section>

{% endblock %}

{% block content %}

<section class="section_produitContent">
	<div class="wrapper">

		<div class="section_produitContent-content">
			<div class="section_produitContent-terms">
				{% set tax = p.terms('type-de-produits') | wp_list_filter({ parent: null }) %}
                {% if tax %}
				<p>{% include 'static/icons/filter.svg' %} {{ tax | join(', ') }}
                {% endif %}

                {% set tax = p.terms('fournisseur') | wp_list_filter({ parent: null }) %}
                {% if tax %}
				<p>{% include 'static/icons/truck.svg' %} {{ tax | join(', ') }}
                {% endif %}
			</div>

			<div class="section_produitContent-description">

				{% set block = p.meta('itr_content') %}
				{% set st = block.st != "" ? block.st : "Informations"  %}

				<h2 class="red-line">
					{% if st is not empty %}<span>{{ st }}</span>{% endif %}
					{% if block.t is not empty %}{{ block.t }}{% endif %}
				</h2>

				<div class="wysiwyg">{{ block.ctn }}</div>

				{% set collapses = p.meta('collapses') %}
				{% include "blocks/collapse-repeater.twig" %}
				
				{% set links = p.meta('services_rel') %}
				{% set links_title = "Services proposés avec " ~ p.title %}
				{% include 'blocks/single-page-links.twig' %}

			</div>
		</div>

		<div class="section_produitContent-pictures">
			{% set btn_red = block.btn_1 != empty ? block.btn_1 : {'title': 'Demander un devis', 'url': '#contact' } %}
			{% set btn_white = block.btn_2 != empty ? block.btn_2 : {'title': 'Contactez-nous', 'url': function('get_permalink', 12) } %}

			<div class="btn-group">
				<a href="{{ btn_red.link }}" target="{{ btn_red.target }}" class="btn btn-red">{{ btn_red.title }}</a>
				<a href="{{ btn_white.link }}" target="{{ btn_white.target }}" class="btn btn-white">{{ btn_white.title }}</a>
			</div>

			<ul>
				{% set img_num = p.gal_showcase %}
				{% set gal = p.meta('gal') %}
				{% for current_img in range(1, img_num) %}
				{% set img = gal[current_img - 1] %}
				<li>
					{% set image_format = loop.first == true ? 'medium' : 'gal-showcase' %}

					{% if loop.first %}
						{% set custom_attributes = 'data-lightbox="Galerie"' %}
						{% set link = {'title': 'Voir la gallerie photo', 'url': img.sizes.large } %}
						{% set custom_icon = 'see-gallery' %}
						{% include 'blocks/btn-lg.twig' %}

						{% include "blocks/image.twig" %}
					{% else %}
						<a title="{{ img.title }}" href="{{ img.sizes.large }}" {{ custom_attributes }}>
							{% include "blocks/image.twig" %}
						</a>
					{% endif %}
				</li>

				{% endfor %}
			</ul>
		</div>
	</div>
</section>




{% set section_classes = "" %}
{% set projects = p.meta('projets_rel') %}
{% include 'sections/projects.twig' %}



{% if other_products %}
<section class="section_productsTypes bg bg-pretty hidden-animate">
    <div class="wrapper">
        <h2>
            <span>Découvrez nos</span>
            Autres produits
        </h2>

        <ul class="list-md list--3col">
            {% for item in other_products %}
            <li>
                {% include 'blocks/product-card.twig' %}
            </li>
            {% endfor %}
        </ul>

		<div class="centered_btn">
            <span aria-hidden="true"></span>
            <a class="btn btn-white" href="{{ products_link }}">Voir tous les produits</a>
            <span aria-hidden="true"></span>
        </div>
    </div>
</section>
{% endif %}



{% endblock %}
